{% extends'base.html.twig' %}

{% block body %}

<div class="jumbotron">
  <h1>Details produits</h1> 

 <div class="row">
    <div class="col-md-6"><img src="/{{produit.image}}" style="max-width: 100px" alt="" > </div><!--le slash doit etre exterieur de {, sinon l'image s'affiche pas-->
    <div class="col-md-6">
        <p>Nom: {{produit.nom}}</p>
        <p>Marque: {{produit.marque}}</p>
        <p>Prix: {{produit.prix}} €</p>
    </div>

</div>
    <h1>Description</h1> 
    <p>{{produit.description}}</p> 

</div>

{% endblock%}